<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

   <targets>
   	<target name="file" xsi:type="File" fileName="logs.txt" 
      layout="${stacktrace} ${message}" />
     <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false">
      	 <highlight-row condition="level == LogLevel.Info" foregroundColor="Yellow" />
     </target>
   </targets>

     <rules>
        <logger name="*" minlevel="Trace" writeTo="console, file" />
    </rules>
</nlog>